<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <% (AccountSubdomain::Account.column_names - ['id', 'created_at', 'updated_at']).each do|column_name|%>
      <th><%= column_name.humanize.capitalize%></th>
      <%end%>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <% (AccountSubdomain::Account.column_names - ['id', 'created_at', 'updated_at']).each do|column_name|%>
          <td><%= account.send(column_name) %></td>
        <%end%>

        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Destroy', account, :method => :delete, :data => { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
