<!DOCTYPE html>
<html>
<head>
  <title>AccountSubdomain</title>
  <%= stylesheet_link_tag    "account_subdomain/application", media: "all" %>
  <%= javascript_include_tag "account_subdomain/application" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
