<h1>Listing users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.account_id %></td>
        <td><%= link_to 'Show', user_url(user, :host => with_subdomain(current_subdomain.subdomain)) %></td>
        <td><%= link_to 'Edit', edit_user_url(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
